<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>NSCameraUsageDescription</key><string>Preview and send your selected camera to your NetBridge.</string><key>NSMicrophoneUsageDescription</key><string>Test and send your voice to your NetBridge.</string><key>NSLocalNetworkUsageDescription</key><string>Connect securely to your meeting bridge.</string></dict></plist>
